
{% extends 'base.html' %}
{% block genre %}
<!-- show all genres at left side -->
<ul id="genres">
	{% for genre in genres %}
	<li id="{{genre.name}}">
		<div ><a href="/{{genre.name}}">{{ genre.name }}</a></div>
	</li>
	{% endfor%}
</ul>

<div id="tvitems">
	<!-- show a heading -->
	{% if selected_genre.name %}
	<h3 id="tvitems_heading">{{ selected_genre.name }}</h3>
	{% else %}
	<h3 id="tvitems_heading">Latest TV Shows</h3>
	{% endif %}

	<!-- only logged in user and at specific genre page can see add button -->
	{% if login_session['email'] and selected_genre %}
	<div id="create_tvitem_btn" class="btn btn-default">
		<a href="/{{ selected_genre.name }}/create"> 
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add TV Show
		</a>
	</div>
	{% endif %}
	<ul id="tvitem_list" title="{{selected_genre.name}}">
		{% for tvitem in tvitems %}
		<li>
			<a href="/{{tvitem.genre.name}}/{{tvitem.name}}">
				{% if tvitem.img_url %}
				<img src="{{ tvitem.img_url }}" alt="tv poster">
				{% else %}
				<!-- if img_url not exists, take a placeholder img -->
				<img src="/static/blank_poster.png" alt="tv poster">
				{% endif %}
				<h3>{{ tvitem.name }}</h3>
				{% if not selected_genre %}
				<span>&nbsp;({{ tvitem.genre.name }})</span>
				{% endif %}

			</a>
		</li>
		{% endfor %}
	</ul>

</div>


{% endblock %}


